{% extends 'base.html.twig' %}

{% block title %}Liste des patients
{% endblock %}
{% block stylesheets %}
	<!-- insertion de bootstrap et jquery -->
    <script src="js/Patient/patient.js"></script>
    <script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
  
    <!-- insertion des fichier js et css spécifique à modification planning -->
	<link rel="stylesheet" href="{{ asset('CSS/Patient/patient.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/Global/Modal.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
    <link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
    <script src="js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="js/jquery-ui/jquery-ui.min.js"></script>    
	
{% endblock %}
{% block javascripts %}
{% if app.user == null %}<script type="text/javascript">document.location.href="/"</script>
		{% endif %}
{% endblock %}

{% block body %}
	<div class="index">
		<h1 id="title">Liste des patients</h1>

		<!-- bouton pour l'ajout d'un nouveau patient -->
		<button type="button" class="btn-add" onclick="addPatient()">Ajouter un nouveau patient</button>

		<!-- affichage de la liste de tous les patients -->
		<div><input type="text" id="autocompleteInputLastname" onkeyup='displayAll()' placeholder="Rechercher"></input></div>	

		<table class="table table-striped" id="tablePatient">
			<thead>
			<tr class="headerPatient">
					<th style="width: 20%;">Nom</th>
					<th style="width: 20%;">Prénom</th>
					<th style="width: 30%;">Actions</th>
				</tr>
			</thead>
			<tbody id="patientTable">
				{% for patient in patients %}
					<tr class="original">
						<td>{{ patient.lastname }}</td>
						<td>{{ patient.firstname }}</td>
						<td>
							<button class = "btn-infos btn-secondary" onclick="showInfosPatient('{{patient.id}}', '{{patient.lastname}}', '{{patient.firstname}}')">Informations</a>
						    <button type="button" class="btn-edit btn-secondary" onclick="editPatient('{{ patient.id }}', '{{ patient.lastname }}', '{{ patient.firstname }}')">Éditer</a>
							<button class="btn-delete btn-secondary" onclick="showPopup({{patient.id}})">Supprimer</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Pas de patients créés !</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

    {{ include ('patient/edit_patient.html.twig') }}
	{{ include ('patient/new_patient.html.twig') }}
	{{ include ('patient/show_patient.html.twig') }}
	{{ include ('patient/modal_popup.html.twig') }}

	<script>
	$( "#autocompleteInputLastname" ).autocomplete({
	source: "/autocompletePatient",
	minLength: 3,
	select: function( event, ui ) {
		filterPatient(ui.item);
	}
	}
	);
	</script>

	<div id="paginator">
	{{knp_pagination_render(patients,'@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig')}}
	</div>
	{% endblock %}
