{% extends 'base.html.twig' %}

{% block title %}MaterialResource index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
          <script src="{{ asset('JS/Resource/Resource.js') }}"> </script>
          <script src="{{ asset('JS/Resource/EditForm.js') }}"> </script>
{% endblock %}
{% block body %}

    <script> 
    /* Script permettant de remplir dans le js un tableau qui contient toutes les activités des pathway

        Pour accéder a une activité d'un pathway :
        On a :
        activitiesByPathways.idPathway => id du pathway 
        activitiesByPathways.activities => liste d'activites lié au pathway
        Puis : 
        activitiesByPathways[index du pathway].activities[index de l'activité que l'on cherche].idActivity => id de l'activité
        activitiesByPathways[index du pathway].activities[index de l'activité que l'on cherche].name => nom de l'activité
        activitiesByPathways[index du pathway].activities[index de l'activité que l'on cherche].duration => durée de l'activité
    */  
        var categoriesByResources = new Array();
        {% if (categoriesByResources) %}
            {% for indexResource in 0..(categoriesByResources|length - 1) %}
                categoriesByResources[{{indexResource}}] = new Object();
                {# categoriesByResources[{{indexResource}}].resourceName = '{{ categoriesByResources[indexResource].humanresourcename }}'#} 
                categoriesByResources[{{indexResource}}].categories = new Array();
                {% if (categoriesByResources[indexResource]) %}
                    {% for indexCategory in 0..(categoriesByResources[indexResource]|length - 1) %}
                        categoriesByResources[{{indexResource}}].categories[{{indexCategory}}] = new Object();
                        categoriesByResources[{{indexResource}}].categories[{{indexCategory}}].idCategory = '{{ categoriesByResources[indexResource][indexCategory].id }}'
                        categoriesByResources[{{indexResource}}].categories[{{indexCategory}}].name = '{{ categoriesByResources[indexResource][indexCategory].categoryname }}' 
                    {% else %}
                    {% endfor %}
                {% endif %} 
            {% else %}
            {% endfor %}            
        {% endif %}
    </script> 

<div class = "index" id="both-tables">

    <h1>Liste des ressources matérielles</h1>
    <button class ="btn-add" onclick="showNewMaterialModalForm()"> Ajouter une nouvelle ressource matérielle </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la ressource</th>
                <th>Actions</th>
            </tr>
        </thead> 
        <tbody>
        {% set indexResource = 0 %}
        {% for material_resource in material_resources %}
            <tr>
                <td>{{ material_resource.id }}</td>
                <td>{{ material_resource.materialresourcename }}</td>
                <td> 
                    {% if (categoriesByResources[indexResource]) %}
                        <select>
                                {% for indexCategory in 0..(categoriesByResources[indexResource]|length - 1) %}
                                    <option value="{{categoriesByResources[indexResource][indexCategory].id}}">   {{(indexCategory+1) ~ '. ' ~ categoriesByResources[indexResource][indexCategory].categoryname }} </option>
                                {% else %}
                                {% endfor %}
                        </select> 
                    {% else %}
                        <p> Pas d'activites créées ! </p> 
                    {% endif %}
                </td>
                <td>
                   <button class = "btn-infos btn-secondary" onclick="showInfosModalMaterial('{{material_resource.id}}', '{{material_resource.materialresourcename}}')">Infos</a>
                   <button class = "btn-edit btn-secondary" onclick="showEditModalFormMaterial('{{material_resource.id}}', '{{material_resource.materialresourcename}}', '{{indexResource}}')">Éditer</a>
                    {{ include('material_resource/_delete_form.html.twig') }}
                </td>
            </tr>
        {% set indexResource = indexResource + 1 %}
        {% else %}
            <tr>
                <td colspan="4">Pas de ressources matérielles créées !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Liste des catégories des ressources matérielles</h1>
        <button class ="btn-add" onclick="showNewMaterialCategModalForm()"> Ajouter une nouvelle catégorie de ressource matérielle </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material_resource_category in material_resources_categories %}
            <tr>
                <td>{{ material_resource_category.id }}</td>
                <td>{{ material_resource_category.categoryname }}</td>
                <td>
                   <button class = "btn-infos btn-secondary" onclick="showInfosModalMaterialCateg('{{material_resource_category.id}}', '{{material_resource_category.categoryname}}')">Infos</a>
                   <button class = "btn-edit btn-secondary"  onclick="showEditMaterialCategModalForm('{{ material_resource_category.id }}', '{{ material_resource_category.categoryname }}')">Éditer</a>
                   {{ include('material_resource_category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de catégorie de ressources matérielles créées !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{{ include ('material_resource/show.html') }}
{{ include ('material_resource/new.html.twig') }}
{{ include ('material_resource/edit.html.twig') }}
{{ include ('material_resource_category/new.html.twig') }}
{{ include ('material_resource_category/show.html') }}
{{ include ('material_resource_category/edit.html.twig')}}
{% endblock %}
