{% extends 'base.html.twig' %}

{% block title %}Liste des ressources matérielles
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
	<link href='js/fullcalendar-scheduler/lib/main.css' rel='stylesheet'/>
	<link rel="stylesheet" href="{{ asset('CSS/Global/ModaleCalendar.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/Global/Modal.css') }}">
	<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('CSS/Resource/tableActivities.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="js/jquery-ui/external/jquery/jquery.js"></script>
	<script src="js/popper.min.js" integrity="sha384-AnJFx41Yd4u7+19IurgGio8EHUpltdLG4I2EpjNGAf+LR66YPbFvorbP564+IWuf sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
	<script src="{{ asset('JS/Resource/Resource.js') }}"></script>
	<script src="{{ asset('JS/Resource/EditForm.js') }}"></script>
	<script src="{{ asset('JS/Resource/infosResource.js') }}"></script>
	<script src='js/fullcalendar-scheduler/lib/main.min.js'></script>
	<script src="js/jquery-ui/external/jquery/jquery.js"></script>
	<script src="js/jquery-ui/jquery-ui.min.js"></script>
	{% if app.user == null %}
		<script type="text/javascript">
			document.location.href = "/"
		</script>
	{% endif %}
{% endblock %}
{% block body %}
	<div class="index" id="main_content">
		<input id="type" style="display : none" value="{{type}}">
		<input id="resourcetype" style="display : none" value="{{resourceType}}">
		<div>
			<li class="selected" id="resources" onclick="change_tab_material(this.id);">Ressources</li>
			<li class="notselected" id="categories" onclick="change_tab_material(this.id);">Catégories</li>
			<hr>
		</div>

		<div class="index" id="both-tables">
			<input id="categories-by-material-resource" style="display : none" value="{{categoriesByMaterialResources.content}}">
			<input id="unavailabilities-material-resource" style="display : none" value="{{unavailabilities.content}}">

			<div id='list-material-resources'>
				<h1>Liste des ressources matérielles</h1>
				<button class="btn-add" onclick="showNewMaterialModalForm()">
					Ajouter une nouvelle ressource matérielle
				</button>
				<div><input type="text" id="autocompleteInputMaterialName" onkeyup='displayAll("Material")' placeholder="Rechercher">
				<img src="/img/warning.svg" style="height:40px; margin-top:-5px">
				<b>3 caractères minimum pour activer la recherche intelligente</b></div>
				<table class="table table-striped table-index-users" id='tableMaterialResource'>
					<thead>
						<tr class='headerMaterialResource'>
							<th style="width: 20%;">Ressource</th>
							<th style="width: 20%;">Catégories</th>
							<th style="width: 30%;">Actions</th>
						</tr>
					</thead>
					<tbody id="materialTable">
						{% set indexResource = 0 %}
						{% for material_resource in material_resources %}
							<tr class="original">
								<td>{{ material_resource.materialresourcename }}</td>
								<td>
									{% for category in material_resource.categories %}
										{% if category.id == material_resource.categories[0].id %}
											{{category.categoryname}}
										{% else %}
											,
											{{category.categoryname}}
										{% endif %}
									{% else %}
										Cette ressource matérielle n'a pas de catégorie.
									{% endfor %}
								</td>
								<td>
									<button class='btn-infos btn-secondary' onclick='showInfosModalMaterial("{{ material_resource.id }}", "{{material_resource.materialresourcename}}")'>Informations</a>
									<button class='btn-add btn-secondary' onclick='showUnavailabilityMaterial("{{material_resource.id}}", "{{material_resource.materialresourcename}}")'>Indisponibilités</a>
									<button class='btn-edit btn-secondary' onclick='showEditModalFormMaterial("{{material_resource.id}}", "{{material_resource.materialresourcename}}")'>Éditer</a>
									<button class="btn-delete btn-secondary" onclick = "verifyMaterialResourceScheduledAppointments({{material_resource.id}})">Supprimer</button>
								</td>
							</tr>
							{% set indexResource = indexResource + 1 %}
						{% else %}
							<tr>
								<td colspan="4">Pas de ressources matérielles créées !</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div style="display : none" id='list-material-categories'>
				<h1>Liste des catégories des ressources matérielles</h1>
				<button class="btn-add" onclick="showNewMaterialCategModalForm()">
					Ajouter une nouvelle catégorie de ressource matérielle
				</button>
				<div><input type="text" id="autocompleteInputMaterialNameCategory" onkeyup="filterMaterialResourceCategory('autocompleteInputMaterialNameCategory')" placeholder="Rechercher"></div>
				<table class="table table-striped table-index-users" id='tableMaterialResourceCategory'>
					<thead>
						<tr class='headerMaterialResourceCategory'>
							<th style="width: 20%;">Catégorie</th>
							<th style="width: 30%;">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for material_resource_category in material_resources_categories %}
							<tr>
								<td>{{ material_resource_category.categoryname }}</td>
								<td>
									<button class="btn-infos btn-secondary" onclick="showInfosModalMaterialCateg('{{ material_resource_category.id }}', '{{material_resource_category.categoryname}}')">Informations</a>
									<button class="btn-edit btn-secondary" onclick="showEditMaterialCategModalForm('{{ material_resource_category.id }}', '{{ material_resource_category.categoryname }}')">Éditer</a>
									<button class="btn-delete btn-secondary" onclick = "showMaterialResourceCategoryModal({{ material_resource_category.id }})">Supprimer</button>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de catégorie de ressources matérielles créées !</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
            <div id="paginator">
            {{knp_pagination_render(material_resources,'@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig')}}
            </div>
		</div>
	</div>


	{{ include ('material_resource/show_resource.html.twig') }}
	{{ include ('material_resource/new_resource.html.twig') }}
	{{ include ('material_resource/delete_resource.html.twig') }}
	{{ include ('material_resource/edit_resource.html.twig') }}
	{{ include ('material_resource/show_category.html.twig') }}
	{{ include ('material_resource/new_category.html.twig') }}
	{{ include ('material_resource/delete_category.html.twig') }}
	{{ include ('material_resource/edit_category.html.twig')}}
	{{ include ('material_resource/edit_unavailability.html.twig')}}


	 <script>
	 $('#delete-material-resource-category-modal').on('hidden.bs.modal', function () {
		document.getElementById("modal-subtitle-category").innerText = ""
		document.getElementById("resources-body").innerHTML = ""
	});

	$( "#autocompleteInputMaterialName" ).autocomplete({
	source: "/autocompleteMR",
	minLength: 3,
	select: function( event, ui ) {
		if(ui.item.id!="notfound") {
			filterResource("material", ui.item);
		}
		else{
			ui.item.value="";
		}
	}
	}
	);
    	$( "#autocompleteInputMaterialNameCategory" ).autocomplete({
	source: mcrArray,
	minLength: 3,
	select: function( event, ui ) {
		filterMaterialResourceCategory('autocompleteInputMaterialNameCategory', ui.item.value);
	}
	}
	);
	</script>
</script>{% endblock %}
