{% extends 'base.html.twig' %}

{% block title %}MaterialResource{% endblock %}

{% block body %}
    <h1>MaterialResource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ material_resource.id }}</td>
            </tr>
            <tr>
                <th>Materialresourcename</th>
                <td>{{ material_resource.materialresourcename }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ material_resource.available ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_material_resource_index') }}">back to list</a>

    <a href="{{ path('app_material_resource_edit', {'id': material_resource.id}) }}">edit</a>

    {{ include('material_resource/_delete_form.html.twig') }}
{% endblock %}
