<!DOCTYPE html>


{% block body %}
	<head>
		<title>Connexion
		</title>
		<!-- <link rel="stylesheet" href="{{ asset('CSS/Global/Menu.css') }}">
												<link rel="stylesheet" href="{{ asset('CSS/Global/Main.css') }}">
												<link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}"> -->

	</head>


	<div id="add-form">
		<h1>
			Connexion
		</h1>
		<div id="container">
			<form
				id="add-form" method="post">

				<!-- Email input -->
				<div>
					<input type="text" name="username" id="username" class="form-control"/>
					<label>Identifiant</label>
				</div>

				<!-- Password input -->
				<div>
					<input type="password" name="password" id="password" class="form-control"/>
					<label>Mot de passe</label>
				</div>

				<!-- Submit button -->
				<button type="submit" id="submit_button" class="btn btn-primary btn-block mb-4">Connexion</button>
			</form>
		</div>

		<div>
			<strong>{{error}}</strong>
			{{message}}
		</div>
	</div>

{% endblock %}
