{% block body %}
	<head>
		<title>Connexion
		</title>
		<link rel="stylesheet" href="{{ asset('CSS/Global/Menu.css') }}">
		<link rel="stylesheet" href="{{ asset('CSS/Global/Main.css') }}">
		<link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
	</head>


	<div id="add-form">
		<div id="container">
			<form id="add-form" method="post">

				<h1>
					Connexion
				</h1>

				<!-- Email input -->

				<div>
					<input type="text" name="username" id="username" class="form-control"/>
					<label>Identifiant</label>
				</div>

				<!-- Password input -->
				<div>
					<input type="password" name="password" id="password" class="form-control"/>
					<label>Mot de passe</label>
				</div>

				<!-- Submit button -->
				<button type="submit" id="submit_button" class="btn-valide btn-secondary">Connexion</button>
			</form>


		</div>

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>{{Error}}</strong>
			{{Message}}

		</div>


	</div>


{% endblock %}
