{% extends 'base.html.twig' %}

{% block title %}Mon profil

{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/Global/EditCrud.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/Global/Profile.css') }}">

{% endblock %}

{% block javascripts %}
	<script>

		function inputGestion(e) {
let newPassword1 = document.getElementById('new_password').value;
let newPassword2 = document.getElementById('confirm_password').value;

if (newPassword1 === newPassword2) {
document.getElementById('MdpDifferent').style.display = 'none';
document.getElementById('submit_button').disabled = false;

} else {
document.getElementById('MdpDifferent').style.display = 'flex';
document.getElementById('submit_button').disabled = true;

}

}
	</script>
{% endblock %}


{% block body %}
	<form id="edit-form" method="POST">
		<div id="container">
			<h1 id="title">Mon identifiant :
				{{ app.user.userIdentifier }}</h1>
			<p2 id="MessageSucces">
				{{messageSucces}}
			</p2>
			<p3 id="MessageError">
				{{messageError}}
			</p3>

			<div id="bloc">
				<div>
					<label>Ancien mot de passe</label>
					<input type="password" required="required" name="old_password" id="old_password" class="form-control"/>

				</div>
				<!-- Nouveau mot de passe -->
				<div>
					<label>Nouveau mot de passe</label>
					<input type="password" oninput="inputGestion()" required="required" name="new_password" id="new_password" class="form-control"/>

				</div>

				<!-- Confirmation mot de passe  -->
				<div>
					<label>Confirmation mot de passe</label>
					<input type="password" oninput="inputGestion()" required="required" name="confirm_password" id="confirm_password" class="form-control"/>

				</div>


				<!-- Submit button -->
				<button type="submit" id="submit_button">Appliquer le changement</button>
			</div>

			<p1 id="MdpDifferent">Vos nouveaux mots de passe sont differents
			</p1>
		</div>
		<div>

			<input type="hidden" name="username" id="username" value={{ app.user.userIdentifier }}>

		</div>

	</form>

{% endblock %}
