{% extends 'base.html.twig' %}

{% block title %}Statistiques
{% endblock %}
{% block stylesheets %}
	<!-- insertion de bootstrap et jquery -->
    
    <script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
  
    <!-- insertion des fichier js et css spécifique à modification planning -->
	<link rel="stylesheet" href="{{ asset('CSS/Global/Modal.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
    <link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">  
	<link rel="stylesheet" href="{{ asset('CSS/Calendrier/Calendrier.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/Stats/stats.css') }}">
	
{% endblock %}
{% block javascripts %}
	<script src="js/stats/statistics.js"></script>
    <script src="js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="js/jquery-ui/jquery-ui.min.js"></script>  
{% if app.user == null %}<script type="text/javascript">document.location.href="/"</script>
		{% endif %}
{% endblock %}

{% block body %}

					<input type="hidden" id="material" value='{{getMaterialResourceScheduledJSON.content}}'/>
					<input type="hidden" id="human" value='{{getHumanResourceScheduledJSON.content}}'/>
	<div class="index">
		<div class="all-container" id="all">
		<div class="top">
		<table class="header-ressource-consultation" style="font-size:medium;">
			<td class="header-td">
				<h1>Statistiques</h1>
				</td>
				<td class="header-td-center">
					<input required type="date" placeholder="Choisir une date" class="form-control" id="Date" onchange="newDate('consultation')" autocomplete="off" title="Choisir une date à afficher" value="{{currentdate}}" .str_replace('t12:00:00','')></input>
				</td>
				<div id="filterId" class="filter-container" style="display:none; left:30%">
				</div>
			
			<td class="header-td-right">
				<div class="date-button">
					<button id="previousButton" class="btn-calendar-edit" onclick="PreviousDay('consultation')" title="Aller au jour d'avant">
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
					</button>
					<button class="btn-calendar-edit" onclick="Today('consultation')" title="Aller à aujourd'hui">Aujourd'hui</button>
					<button id="previousButton" class="btn-calendar-edit" onclick="NextDay('consultation')" title="Aller au jour d'après">
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
					</button>
				
			</td>
		</table>
		</div>
		<table class="table-stats">
		<tr class="line-1">
			<td class="td-left">
			Nombre de ressources humaines : 
			</td>
			<td class="td-left-center" id="numberOfHR">
			50
			</td>
			<td class="td-right-center">
			Temps d'attente minimum (en minutes) : 
			<td>
			<td class="td-right">
			50
			</td>
		</tr>
		<tr class="line-2">
			<td class="td-left">
			Nombre de ressources matérielles : 
			</td>
			<td class="td-left-center" id="numberOfMR">
			50
			</td>
			<td class="td-right-center">
			Temps d'attente moyen (en minutes) : 
			<td>
			<td class="td-right">
			50
			</td>
		</tr>
		<tr class="line-3">
			<td class="td-left">
			Nombre de patients : 
			</td>
			<td class="td-left-center">
			50
			</td>
			<td class="td-right-center">
			Temps d'attente maximum (en minutes) : 
			<td>
			<td class="td-right">
			50
			</td>
		</tr>
		<tr class="line-4">
			<td class="td-left">
			Nombre d'erreur de planification sur la journée :
			</td>
			<td class="td-left-center">
			50
			</td>
		</tr>
		<tr class="line-5">
			<td class="td-left">
			Taux d'occupation des ressources :
		</td>
		</table>
		<table class="table-resources">
		<tr class="header-table">
		<td class="td-resource-column">
		Ressources
		</td>
		<td class="td-first-hour-column">
		6h-9h
		</td>
		<td class="td-second-hour-column">
		9h-12h
		</td>
		<td class="td-third-hour-column">
		12h-15h
		</td>
		<td class="td-fourth-hour-column">
		15h-18h
		</td>
		<td class="td-fifth-hour-column">
		18h-21h
		</td>
		<td class="td-total-column">
		Total
		</td>
		</tr>
		<tr class="content-resources">
		<td class="td-resource-column">
		Dr. Jean
		</td>
		<td class="td-first-hour-column">
		25%
		</td>
		<td class="td-second-hour-column">
		33%
		</td>
		<td class="td-third-hour-column">
		16%
		</td>
		<td class="td-fourth-hour-column">
		25%
		</td>
		<td class="td-fifth-hour-column">
		0%
		</td>
		<td class="td-total-column">
		100%
		</td>
		</table>


</div>
<table id="toptable">
	<tr 
</div>

	{% endblock %}
