{% extends 'base.html.twig' %}

{% block title %}Listing des activités{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="./JS/jquery-3.6.0.js"></script>
    <script src="./JS/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
    <script src="{{ asset('JS/Activity/Activity.js') }}"> </script>

{% endblock %}

{% block body %}

    <div class="index">
        <h1>Listing des activités</h1>
        <!-- btn new -->
        <button class ="btn-add" onclick="showNewModalForm()"> Ajouter une nouvelle activité </button>
        <br>
        <table class="table table-striped table-index-users">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Durée</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.id }}</td>
                        <td>{{ activity.activityname }}</td>
                        <td>{{ activity.duration }}</td>
                        <td>
                            <button class = "btn-infos btn-secondary" onclick="window.location.href='{{ path('app_activity_show', {'id': activity.id}) }}'">Infos</a>
                            <button class = "btn-edit btn-secondary" onclick="showEditModalForm('{{ activity.id }}', '{{activity.activityname}}', '{{activity.duration}}')">Éditer</a>
                            {{ include('activity/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas d'activités créées !</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    {# Fenêtre modale d'ajout #}
    {{ include ('activity/modal_new.html.twig') }}
    {# Fenêtre modale d'édition #}
    {{ include ('activity/modal_edit.html.twig') }}
{% endblock %}
