<!-- add-patient-modal -->
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
{% endblock %}
<div class="modal" id="auto-human-resource-modal">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Ajouter automatiquement des ressources humaines</h2>
			</div>

<<<<<<< Updated upstream
			<form action="{{ path('HumanResPost') }}" method="post">
				<div
					class="modal-body">
					<!-- input invisible (juste pour passer le nb d'activité dans la requete -->
					<input style="display:none;" name="nbCategory" id="nbCategory">
					<fieldset id="fs-add-human-category">
						<legend>Choisissez les catégories de votre ressource</legend>

						<div id="categories-container">
=======
			<form action="{{ path('HRAutoAdd') }}" method="post">

				<div
					class="modal-body">
					<!-- input invisible (juste pour passer le nb d'activité dans la requete -->
					<input style="display:none;" name="nbCategory" id="nbCategory-auto">
					<fieldset id="fs-add-human-category">
						<legend>Choisissez les catégories de votre ressource</legend>

						<div id="categories-container-auto">
>>>>>>> Stashed changes
							{% for human_resource_category in human_resources_categories %}
								<div>
									<input value='{{human_resource_category.id }}' type="checkbox" id="category" name="category">
									<label id="lbl-category">{{ human_resource_category.categoryname }}</label>
								</div>
							{% else %}
								<p>
									Pas de catégories créées !
								</p>
							{% endfor %}
						</div>
					</fieldset>
				</div>
				<fieldset id="fs-add-working-hours">
					<legend id="">Choisissez les heures de disponibilités</legend>
					<div id='working-hours-auto'>
<<<<<<< Updated upstream
						<div id='working-hours-input-begin'>
							<input type="time" id="begin" name="begin" min="00:00" max="23:59" value="06:00">
						</div>
						<div id='working-hours-input-end'>
							<input type="time" id="end" name="end" min="00:00" max="23:59" value="20:00">
						</div>
						<div id="reset-working-hours-div">
							<img src="../../img/delete.svg" onclick="resetWorkingHours(0, 'new')" title="Effacer" style="width: 20px; cursor: pointer;">
=======
						<div id='working-hours-input-begin-auto'>

							<input type="time" id="begin" name="begin" min="00:00" max="23:59" value="06:00">
						</div>
						<div id='working-hours-input-end-auto'>

							<input type="time" id="end" name="end" min="00:00" max="23:59" value="20:00">
						</div>
						<div id="reset-working-hours-div">
							<img src="../../img/delete.svg" onclick="resetWorkingHours(0, 'auto')" title="Effacer" style="width: 20px; cursor: pointer;">
>>>>>>> Stashed changes
						</div>
					</div>
					<fieldset id="fs-add-quantity">
						<legend id="">Choisissez la quantité de ressources</legend>
						<div id='quantity-auto'>
							<div id="quantity">
<<<<<<< Updated upstream
								<input type="number" id="quantity" name="quantity" min="1" max="100" value="1" placeholder="Quantité">
=======
								<input type="number" id="quantity" name="quantity" min="1" max="100" placeholder="Quantité" required>
>>>>>>> Stashed changes
							</div>

						</div>
					</fieldset>
					<div class="modal-footer">
						<button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
<<<<<<< Updated upstream
						<button type="button" onclick="humanResourceVerify()" class="btn-valide btn-secondary">
							Ajouter
						</button>
						<button id='btn-none-add-human-resource' style="display : none" type="submit"></button>
=======
						<button type="button" onclick="humanResourceVerify('auto')" class="btn-valide btn-secondary">
							Ajouter
						</button>
						<button id='btn-none-add-human-resource-auto' style="display : none" type="submit"></button>
>>>>>>> Stashed changes
					</div>
				</form>
			</div>
		</div>
	</div>
