{% extends 'base.html.twig' %}

{% block title %}Informations du type de ressource {% endblock %}

{% block body %}
<div id="show-user">

    <h1> Informations du type de ressource </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resource_type.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ resource_type.category }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ resource_type.type }}</td>
            </tr>
        </tbody>
    </table>


    <button class = "btn-consult btn-secondary" onclick="window.location.href='{{ path('app_resource_type_index') }}'">Consulter les types de ressources</a>
    <button class = "btn-edit btn-secondary" onclick="window.location.href='{{ path('app_resource_type_edit', {'id': resource_type.id}) }}'">Éditer</a>


    {{ include('resource_type/_delete_form.html.twig') }}
</div>
{% endblock %}
