{% extends 'base.html.twig' %}

{% block title %}Liste des parcours{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/Modal.css') }}">
        {#<link rel="stylesheet" href="{{ asset('CSS/bootstrap/bootstrap.min.css') }}">#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/bootstrap/bootstrap.min.js') }}" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
    <script src="{{ asset('JS/jquery-ui/external/jquery/jquery.js') }}"></script>
    <script src="{{ asset('JS/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('JS/Pathway/pathway.js') }}"> </script>
    <script src="{{ asset('JS/leader-line/leader-line.min.js') }}"></script>
    <script src="{{ asset('JS/anim-event/anim-event.min.js') }}"></script>
{% endblock %}

{% block body %}

<div class="index">
    {#  inputs pour passer les json venant du serveur #}
    <input type="hidden" id="json-human-resource-categories" value="{{ humanResourceCategories.content }}">
    <input type="hidden" id="json-material-resource-categories" value="{{ materialResourceCategories.content }}">

     
    <div id="title-pathway">     
        <h1> Ajouter un parcours </h1>
        {# <div>    <p> contraintes </p>     <img src="{{ asset('img/eye.png') }}"> </img></div> #}
    </div>
    

    <form action="{{ path('PathwayAdd') }}" method="post">
        <!-- inputs pour envoyer des json ou des valeurs au serveur sans les afficher -->
        <input type="hidden" id="json-resources-by-activities" name="json-resources-by-activities" >
        <input style="display:none;" name="nbactivity" id="nbactivity">

        <div id="pathway-form">
            <div id="pathway-form-top">
               <div class="pathway-field"> 
                    <label class="label" style="width:100%;"  for="name"> Nom du parcours </label>
                    <input class="input" style="width:100%;" id="pathwayname" type="text" name="pathwayname" placeholder="Ex : Parcours 3">
                </div>
                <div class="pathway-field"> 
                    <button type="button" id="btn-show-targets" onclick="showTargets()"> Objectifs journaliers  </button>
                </div>

                <div class="modal" id="add-pathway-modal-targets">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h2 class="modal-title">Objectifs journaliers</h2>
                            </div>

                            <div class="modal-body">
                                <div id="target" class="flex-col"> 
                                    <label class="label" for='name'> Lundi </label>
                                    <input oninput="preventForTarget(this)" name="target-1" type="number" min="0" class="input target" > 

                                    <label class="label" for='name'> Mardi </label>
                                    <input oninput="preventForTarget(this)" name="target-2" type="number" min="0" class="input target" > 

                                    <label class="label" for='name'> Mercredi </label>
                                    <input oninput="preventForTarget(this)" name="target-3" type="number" min="0" class="input target" > 

                                    <label class="label" for='name'> Jeudi </label>
                                    <input oninput="preventForTarget(this)" name="target-4" type="number" min="0" class="input target" > 

                                    <label class="label" for='name'> Vendredi </label>
                                    <input oninput="preventForTarget(this)" name="target-5"type="number" min="0" class="input target" >  
                                                    
                                    <label class="label" for='name'> Samedi </label>
                                    <input oninput="preventForTarget(this)" name="target-6" type="number" min="0" class="input target"> 

                                    <label class="label" for='name'> Dimanche </label>
                                    <input oninput="preventForTarget(this)" name="target-0" type="number" min="0" class="input target" > 
                                </div>
                            
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn-delete btn-secondary" onclick="hideTargets()">Fermer</button>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <div id="pathway-form-body">
                <!-- partie gauche - permet de créer / éditer une activité -->
                <div id="create-activity-container">
                    <h4 class="title"> <label id="lbl-title-create" class="label">Création d'une activité</label> </h4>

                    <div id="create-activity">
                        <div class="form-field">
                            {# Nom de l'activité #}
                            <div class="flex-col">
                                <label class="label" for="input-name"> Nom de l'activité </label>
                                <input type="text" id="input-name" class="input-activity" placeholder="Ex : Prise de sang">
                            </div>
                            {# Durée de l'activité #}
                            <div class="flex-col">
                                <label class="label" for='input-name'> Durée de l'activité (min)</label>
                                <input type="number" id='input-duration' min="0" class="input-activity" placeholder="Ex : 10">
                            </div>
                            {# Liste des ressources de l'activité #}
                            <input disabled id="label" type="text" placeholder="Liste des ressources :"> 
                            <div id="div-edit-activity">
                                <div id="buttons-resources"> 
                                    <button id="human-button" onclick="handleHumanButton(this.id)" type="button"> Humaines </button>
                                    <button id="material-button" onclick="handleMaterialButton(this.id)" type="button"> Materielles </button>
                                </div>
                                <div id="div-resources">
                                    <ul id="list-resources"> </ul>
                                </div>
               
                            </div>

                            <div id="div-add-resources">
                                <select id="select-resources" title="Choisissez le nom de la ressource" > </select>
                                <input id="resource-nb" min="0" placeholder="Qte" type="number" title="Choisissez la quantité de la ressource"> </input>
                                <img onclick="addResources()" src="../img/plus.png" title="Ajouter la ressource"> </img>
                            </div>

                        </div>
                    </div>

                    <div id="container-btn-add-activity" class="flex-row" style=""> 
                    <!--  style="display:none;"  -->
                        <button style="display:none;"  type="button" id="btn-cancel-activity"  class="btn-delete btn-secondary" onclick="cancelEditActivity()"> <b> Annuler </b></button>
                        <button type="button" id="btn-add-activity" class="btn-delete btn-secondary" onclick="addActivity()"> <b> Ajouter une activité > </b> </button> 
                        <button style="display:none;"  type="button" id="btn-confirm-activity"  class="btn-delete btn-secondary" onclick="confirmEditActivity()"> <b> Valider les modifications </b></button>
                    </div>

                </div>

                <!-- partie droite - permet de lister les activités -->
                <div id="activities-list">
                    <div style="display:flex">
                        <h4 class="title"> <label id="name" class="label" for='name'> Liste des activités </label>    </h4> 
                        <button type="button" id="btn-show-activities" class="btn-valide btn-secondary" onclick="showActivitiesPathway()">Graphique</button> 
                    </div>
                    <div id="list">  </div>  
                </div>
            </div>

            <div id="pathway-form-footer">
                <button type="button" class="btn-delete btn-secondary" onclick="window.location.href='/pathways'">Annuler</button>
                <button onclick="submitPathway()" type="button" class="btn-valide btn-secondary" > Ajouter le parcours</button>
                <button style="display:none;" id="submit" type="submit" class="btn-valide btn-secondary" >  </button>
            </div>
        </div>
    </form>


    <div id="display">

    </div>

</div>
{{ include ('pathway/modal_edit_activities.html.twig') }}

<script>
$('#edit-pathway-modal-activities').on('hidden.bs.modal', function () {
    if(!VALIDATE){
        hideActivitiesPathway();
    }
});
</script>

{% endblock %}