{% extends 'base.html.twig' %}

{% block title %}Liste des parcours{% endblock %}

{% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/Modal.css') }}">
{% endblock %}


{% block body %}

<div class="index">

    <!-- inputs pour envoyer des json ou des valeurs au serveur sans les afficher -->
    <input type="hidden" id="json-resources-by-activities" name="json-resources-by-activities" >
    <input style="display:none;" name="nbactivity" id="nbactivity">

    {#  inputs pour passer les json venant du serveur #}
    <input type="hidden" id="json-human-resource-categories" value="{{ humanResourceCategories.content }}">
    <input type="hidden" id="json-material-resource-categories" value="{{ materialResourceCategories.content }}">
                    
    <h1> Ajouter un parcours </h1>

    <form action="{{ path('PathwayAdd') }}" method="post">
        <div id="pathway-form">
            <div id="pathway-form-top">
               <div class="flex-col"> 
                    <label class="label" for='name'> Nom du parcours </label>        
                    <input class="input" id='pathwayname' type='text' name='pathwayname' onchange='disableSubmit()'>
                </div>
            </div>

            <div id="pathway-form-body">
                <!-- partie gauche - permet de lister les activités -->
                <div id="create-activity-container">
                    <label class="label">Création d'une activité</label>

       
                    <div id="create-activity">
                        <div class="form-field">
                            <input type="text" id='input-name' class="input-activity" placeholder="Nom">
                            <input type="number" id='input-duration' min="0" class="input-activity" placeholder="Durée (min)">

                            <input disabled id="label" type="text" placeholder="Liste des ressources :"> 
                            <div id="div-edit-activity">
                                <div id="buttons-resources"> 
                                    <button id="human-button" onclick="handleHumanButton(this.id)" type="button"> Humaines </button>
                                    <button id="material-button" onclick="handleMaterialButton(this.id)" type="button"> Materielles </button>
                                </div>
                                <div id="div-resources">
                                    <ul id="list-resources"> </ul>
                                </div>
               
                            </div>

                            <div id="div-add-resources">
                                <select id="select-resources" title="Choisissez le nom de la ressource" > </select>
                                <input id="resource-nb" min="0" placeholder="Qte" type="number" title="Choisissez les quantité de la ressource"> </input>
                                <img onclick="addResources()" src="../img/plus.png" title="Ajouter la ressource"> </img>
                            </div>

                        </div>
                    </div>

                    <div id="container-btn-add-activity" style=""> 
                        <button type="button" id='btn-add-activity' onclick="addActivity()"> <b> Ajouter une activité > </b> </button> 
                    </div>

                </div>

                <!-- partie droite - permet d'éditer une activité -->
                <div id="activities-list">
                    <label id="name" class="label" for='name'> Liste des activités </label>    
                    <div id="list">  </div>  
                </div>
            </div>

            <div id="pathway-form-footer">
                <button type="button" class="btn-delete btn-secondary" onclick="window.location.href='/pathways'">Annuler</button>
                <button id='submit' type="submit" class="btn-valide btn-secondary" > Ajouter le parcours</button>
            </div>
        </div>
    </form>


    <div id="display">

    </div>

</div>

{% endblock %}


{% block javascripts %}
        <script src="../js/jquery-3.6.0.js"></script>
        <script src="../js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
        <script src="../js/Pathway/EditForm.js"> </script>
        <script src="../js/Pathway/pathway.js"> </script>
{% endblock %}