{% extends 'base.html.twig' %}

{% block title %}Liste des parcours{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/Modal.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Pathway/add_pathway.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Pathway/scheduled_appointments_modal.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Pathway/target_modal.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Pathway/successors_modal.css') }}">

{% endblock %}


{% block body %}

<div class="index">



    {#  inputs to get json from the server #}
    <input type="hidden" id="json-human-resource-categories" value="{{ humanResourceCategories.content }}">
    <input type="hidden" id="json-material-resource-categories" value="{{ materialResourceCategories.content }}">
    <input type="hidden" id="json-pathway" value="{{ pathwayJson.content }}">
    <input type="hidden" id="json-targets" value="{{ targets.content }}">

    <div id="title-pathway">     
        <h1> Éditer un parcours </h1>
    </div>

    <form action="{{ path('PathwayEdit') }}" method="post" onkeydown="return event.key != 'Enter';">

        <!-- inputs to send json or value to server without displaying them -->
        <input type="hidden" id="json-resources-by-activities" name="json-resources-by-activities" >
        <input type="hidden" id="json-successors" name="json-successors" >
        <input type="hidden" id="are-appointments-deleted" name="are-appointments-deleted" >

        <input style="display:none;" name="nbactivity" id="nbactivity">

        <div id="pathway-form">
            <div id="pathway-form-top">
                <div class="pathway-field"> 
                   <label class="label" style="width:100%;" for='name'> Nom du parcours </label>        
                    <input class="input" style="width:100%;" id='pathwayname' type='text' name='pathwayname'>
                    <input type="hidden" class="input" id='pathwayid' type='text' name='pathwayid' >
                </div>
                <div class="pathway-field"> 
                <!-- onclick="showTargets()" -->
                    <button type="button" id="btn-show-targets" onclick="showTargets()"> Objectifs journaliers  </button>
                </div>

                {% include 'Pathway/target_modal.html.twig' %}

            </div>

            <div id="pathway-form-body">
                <!-- partie gauche - permet de lister les activités -->
                <div id="create-activity-container">
                    <h4 class="title"> <label id="lbl-title-create" class="label">Création d'une activité</label> </h4>

       
                    <div id="create-activity">
                        <div class="form-field">
                             {# Nom de l'activité #}
                            <div class="flex-col">
                                <label class="label" for="input-name"> Nom de l'activité </label>
                                <input type="text" id="input-name" class="input-activity" placeholder="Ex : Prise de sang">
                            </div>
                            {# Durée de l'activité #}
                            <div class="flex-col">
                                <label class="label" for='input-name'> Durée de l'activité (min)</label>
                                <input oninput="preventForTarget(this)" type="number" id='input-duration' min="0" class="input-activity" placeholder="Ex : 10">
                            </div>
                            {# Liste des ressources de l'activité #}
                            <input disabled id="label" type="text" placeholder="Liste des ressources :"> 
                            <div id="div-edit-activity">
                                <div id="buttons-resources"> 
                                    <button id="human-button" onclick="handleHumanButton(this.id)" type="button"> Humaines </button>
                                    <button id="material-button" onclick="handleMaterialButton(this.id)" type="button"> Materielles </button>
                                </div>
                                <div id="div-resources">
                                    <ul id="list-resources"> </ul>
                                </div>
               
                            </div>

                            <div id="div-add-resources">
                                <select id="select-resources" title="Choisissez le nom de la ressource" > </select>
                                <input oninput="preventForTarget(this)" id="resource-nb" min="1" placeholder="Qte" type="number" title="Choisissez les quantité de la ressource"> </input>
                                <img onclick="addResources()" src="{{ asset('./img/plus.png')}}" title="Ajouter la ressource"> </img>
                            </div>
                        </div>
                    </div>

                    <div id="container-btn-add-activity" class="flex-row" style=""> 
                    <!--  style="display:none;"  -->
                        <button style="display:none;"  type="button" id="btn-cancel-activity"  class="btn-delete btn-secondary" onclick="cancelEditActivity()"> <b> Annuler </b></button>
                        <button type="button" id="btn-add-activity" class="btn-delete btn-secondary" onclick="requestAddActivity()"> Ajouter une activité  </button> 
                        <button style="display:none;"  type="button" id="btn-confirm-activity"  class="btn-delete btn-secondary" onclick="confirmEditActivity()"> <b> Valider les modifications </b></button>
                    </div>

                </div>

                <!-- partie droite - permet d'éditer une activité -->
                <div id="activities-list">
                    <div id="title-height" style="display:flex;">
                        <h4 class="title"> <label id="name" class="label" for='name'> Liste des activités </label> </h4> 
                        <button type="button" id="btn-show-activities" class="btn-valide btn-secondary" onclick="showActivitiesPathway()">Graphique</button>  
                    </div>
                    <div id="list">  </div>  
                </div>
            </div>

            <div id="pathway-form-footer">
                <button type="button" class="btn-delete btn-secondary" onclick="window.location.href='/pathways'">Annuler</button>
                <button onclick='submitPathway()' type="button" class="btn-valide btn-secondary" > Éditer le parcours</button>
                <button style="display:none;" id='submit' type="submit" class="btn-valide btn-secondary" >  </button>

            </div>
        </div>
    </form>


    <div id="display">

    </div>

</div>

{{ include ('pathway/modal_edit_activities.html.twig') }}
{% include 'Pathway/scheduled_appointments_modal.html.twig' %}

<script>
$('#edit-pathway-modal-activities').on('hidden.bs.modal', function () {
    var activities = divContent.getElementsByClassName("pathway-div-activity-graph");
        for(i = 0; i < activities.length; i++){
            ACTIVITY_POSITION[i] = new Object()
            ACTIVITY_POSITION[i].id = activities[i].id
            ACTIVITY_POSITION[i].top = activities[i].style.top
            ACTIVITY_POSITION[i].left = activities[i].style.left
        }
    if(!VALIDATE){
        hideActivitiesPathway();
    }
});
</script>

{% endblock %}


{% block javascripts %}
        <script src="{{ asset('JS/jquery-ui/external/jquery/jquery.js') }}"></script>
        <script src="{{ asset('JS/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('./JS/bootstrap/bootstrap.min.js') }}" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
        <script src="{{ asset('./JS/Pathway/edit_pathway.js') }}"> </script>
        <script src="{{ asset('JS/leader-line/leader-line.min.js') }}"></script>
        <script src="{{ asset('JS/anim-event/anim-event.min.js') }}"></script>
{% endblock %}
