
<!-- edit-appointment-modal -->

<div class="modal" id="edit-appointment-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Modifier un rendez-vous</h2>
      </div>
      <form action="{{ path('AppointmentEdit') }}" method="post">
        <div class="modal-body">
            <div>
                <input type="hidden" name="idappointment" id="idappointment">
                <label for='idpatient'> Patient </label>
                <div id="select-container"> 
                    <select class="select-patient-sample" name='idpatient' id='idpatient'> 

                        <option value="" selected disabled hidden> Selectionner le patient </option>
                        {% for patient in patients %} 
                            <option value="{{ patient.id }}"> {{ patient }} </option>
                        {% else %}
                            <p> Pas de patient créées ! </p>
                        {% endfor %}

                    </select>
                </div>
            </div>
            </br>
            <div>
                <label for='idpathway'> Parcours </label>
                <div id="select-container"> 
                    <select class="select-pathway-sample" name='idpathway' id='idpathway'> 

                        <option value="" selected disabled hidden> Selectionner le parcours </option>
                        {% for pathway in pathways %} 
                            <option value="{{ pathway.id }}"> {{ pathway }} </option>
                        {% else %}
                            <p> Pas de parcours créées ! </p>
                        {% endfor %}

                    </select>
                </div>
            </div>
            </br>
            <div>
                <label for='dayappointment'> Jour du rendez-vous </label>
                <input type='date' name='dayappointment' id='dayappointment'>
            </div>
            </br>
            <div>
                <label for='earliestappointmenttime'> Heure d'arrivé au plus tôt </label>
                <input type='time' name='earliestappointmenttime' id='earliestappointmenttime'>
            </div>
            </br>
            <div>
                <label for='latestappointmenttime'> Heure d'arrivé au plus tard </label>
                <input type='time' name='latestappointmenttime' id='latestappointmenttime'>
            </div>
            </br>

            <button type="button" class="btn-consult btn-secondary" onclick="window.location.href='{{ path('Appointment') }}'">Consulter les rendez-vous</button>
            <button type="submit" class="btn-valide btn-secondary"> Modifier </button>
        </div>
	    </form>
    </div>
  </div>
</div>