{{ form_start(form) }}
    {{ form_widget(form) }}

    
    <div> 

        <fieldset id="fs-add-activity">
            <legend>Choisissez les activités de votre parcours</legend>
        
            <div id="select-container"> 
            
                <select style="display:none;" class="select-activity-sample" class="slct-add-activity" > 

                    {% for activity in activities %} 
                        <option value="{{ activity.id }}"> {{ activity }} </option>
                    {% else %}
                        <p> Pas d'activités créées ! </p>
                    {% endfor %}

                </select>


            </div>
                <button type="button" id='btn-add-activity' onclick="handleAddActivity()"> <b> Ajouter </b> </button> 

        </fieldset>

    </div>
    
    <button type = "submit" class="btn-valide btn-secondary">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
