{% extends 'base.html.twig' %}
{% block javascripts %}
{% if app.user == null %}<script type="text/javascript">document.location.href="/"</script>
		{% endif %}
{% if app.user != null %}
{% if app.user.roles[1] == 'Visiteur' %}
<script type="text/javascript">document.location.href="/ConsultationPlanning"</script>
{% endif %}
{% endif %}
{% endblock %}

{% block title %}Modification du Planning
{% endblock %}

{% block stylesheets %}

	<!-- insertion de bootstrap, jquery et fullcalendar-scheduler -->
	<link href='js/fullcalendar-scheduler/lib/main.css' rel='stylesheet'/>
	<script src='js/fullcalendar-scheduler/lib/main.js'></script>
    <script src="js/jquery-ui/external/jquery/jquery.js"></script>
 	<script src="js/popper.min.js"></script>  
	<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
	<script src="js/planning/utils-planning.js"></script>
	<!-- insertion des fichier js et css spécifique à modification planning -->
	<script src="js/planning/modification-planning.js"></script>
	<script src="js/planning/modification-planning-errors-messages.js"></script>
	<script src="js/planning/modification-planning-adding.js"></script>
	<link rel="stylesheet" href="{{ asset('CSS/Calendrier/Calendrier.css') }}">

{% endblock %}

{% block body %}

	{{include('planning/modal_popup.html.twig')}}
	{{include('planning/popup_back_consultation.html.twig')}}

	<!-- modify-planning-modal -->

	<div class="modal" id="modify-planning-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Modifier
						<span id="show-modified-event-title"></span>
					</h2>
				</div>
				<div class="modal-body">
					<label class="label-event">Début de l'activité
					</label>
					<div class="input-container onWhite">
						<!-- création d'input caché permettant de transmettre des informations entre le php, le twig et le js -->
						<input id="id-modified-event" name="id-modified-event" type="hidden">

						<input class="input-modal-date" type="time" id="start-modified-event" name="start-modified-event" required>
						</br>
						<label class="label-event">Parcours :</label>
						</br>
						<input class="input-modal" type="text" id="parcours-modified-event" name="parcours-modified-event" disabled></input>
						</br>
						<label class="label-event">Patient :</label>
						</br>
						<input class="input-modal" type="text" id="patient-modified-event" name="patient-modified-event" disabled></input>
						</br>
						<label class="label-event">Catégories de ressources Humaines : 
						</br>
						<input class="input-modal" type="text" id="category-human-resource-modified-event" name="human-resource-modified-event" disabled></input>						
						</br>
						<label class="label-event">Ressources Humaines :</label>
						</br>
						<input class="input-modal" type="text" id="human-resource-modified-event" name="human-resource-modified-event" disabled></input>
						</br>
						<label class="label-event">Catégories de ressources Materielles : 
						</br>
						<input class="input-modal" type="text" id="category-material-resource-modified-event" name="human-resource-modified-event" disabled></input>												
						</br>
						<label class="label-event">Ressources Matérielles :</label>
						</br>
						<input class="input-modal" type="text" id="material-resource-modified-event" name="material-resource-modified-event" disabled></input>
					</div>
					<div class="modal-footer">
						<!-- bouton de suppression à revoir, permet pour le moment d'être redirigé vers la gestion des rendez-vous pour en supprimer un -->
					

						<!-- bouton permettant de fermer la modal ou de valider les modification -->
						<input type="hidden" id="eventClicked"/> 
						<button type="button" class="btn-consult btn-secondary" onclick="DisplayAppointmentInformation(eventClicked.value)">Informations sur le parcours</button>
						<button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn-valide btn-secondary" onclick="modifyEvent()">Valider</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="display-appointment-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Informations 
						<span id="show-information-appointment-title"></span>
					</h2>
				</div>
				<div class="modal-body">
					
					<div class="input-container onWhite">
						<div id='input-container-onWhite-appointmenttime'>
							<label class="label-event">Début au plus tôt : </label> &nbsp;   
							<input  type="time" id="input-modal-earliestappointmentdate" name="input-modal-earliestappointmentdate" disabled>
							<label> &emsp;</label>
							<label class="label-event"> Fin au plus tard :    </label> &nbsp;
							<input type="time" id="input-modal-latestappointmentdate" name="input-modal-earliestappointmentdate" disabled></input>
						</div>
						</br>
						<div id='input-container-onWhite-pathway'>
							<label style='font-weight:bold;' class="label-event">Parcours</label>
							</br>
						</div>
						</div>
						<div class="modal-footer" id='appointment-modal-footer'>
							<button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal" onclick='displayModalModifyEvent()'>Quitter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- add-planning-modal -->

	<div class="modal" id="add-planning-modal">
		<!-- div qui représente la modal -->
		<div
			class="modal-dialog">
			<!-- permet d'afficher la modal en mode dialog -->
			<div
				class="modal-content">
				<!-- permet de structurer le contenu de la modal -->
				<div
					class="modal-header">
					<!-- sépare le header de la modal -->
					<h2 class="modal-title">Ajouter un rendez-vous</h2>
					<button type="button" class="btn-close" aria-label="Close"  data-bs-dismiss="modal"></button>
				</div>
				<div
					class="modal-body">
					<!-- sépare le body de la modal -->
					<input id="date" name="date" type="hidden" value={{currentdate}}>
					<input id="listeSuccessors" name="listeSuccessors" type='hidden' value={{listSuccessorsJSON.content}}>
					<input id="listeActivities" name="listeActivities" type='hidden' value={{listActivitiesJSON.content}}>

					<div
						id="select-container-patient">
						<!-- Selection du rendez-vous -->
						<label>Choisissez le rendez-vous</label>
						<select id="select-appointment" name="select-appointment" required>
						</select>
					</div>

					<div
						id="select-container-date" class="input-container onWhite">
						<!-- Selection de l'heure de début du rdv -->
						<label>Heure de début du parcours :
						</label>
						<input class="input-field" type="time" id="timeBegin" name="timeBegin" required>
					</div>

					<div id='modal-add-footer' class="modal-footer">
						<button type="submit" class="btn-valide btn-secondary" onclick="addPathway()">Ajouter</button>
						<button type="submit" class="btn-valide btn secondary" onclick="autoAddPathway()">Ajouter Automatiquement</button> 
						<button type="submit" class="btn-valide btn secondary" onclick="autoAddAllPathway()">Mode Automatique</button> 
					</div>
					<div id='alert-scheduled-tomorrow' class="alert alert-danger" role="alert">Erreur ! Le rendez-vous se termine au lendemain.</div>	
				</div>
			</form>
		</div>
	</div>
</div>

<input type="hidden" id="material" value='{{listMaterialResourceJSON.content}}'/>
<input type="hidden" id="human" value='{{listHumanResourceJSON.content}}'/>
<input type='hidden' id="listeAppointments" name="listeAppointments" value='{{listAppointmentsJSON.content}}'>
<input type="hidden" id="listScheduledActivitiesJSON" value='{{listScheduledActivitiesJSON.content}}'/>
<input id="date" name="date" type="hidden" value={{currentdate}}>
<input id="listeSuccessors" name="listeSuccessors" type='hidden' value={{listSuccessorsJSON.content}}>
<input id="listeActivities" name="listeActivities" type='hidden' value={{listActivitiesJSON.content}}>
<input id="listeActivityHumanResource" name="listeActivityHumanResource" type="hidden" value={{listActivityHumanResourcesJSON.content}}>
<input id="listeActivityMaterialResource" name="listeActivityMaterialResource" type='hidden' value={{listActivityMaterialResourcesJSON.content}}>
<input id="categoryOfMaterialResourceJSON" name="categoryOfMaterialResourceJSON" type='hidden' value={{categoryOfMaterialResourceJSON.content}}>
<input id="categoryOfHumanResourceJSON" name="categoryOfHumanResourceJSON" type='hidden' value={{categoryOfHumanResourceJSON.content}}>
<input id="categoryMaterialResourceJSON" name="categoryMaterialResourceJSON" type='hidden' value={{categoryMaterialResourceJSON.content}}>
<input id="categoryHumanResourceJSON" name="categoryHumanResourceJSON" type='hidden' value={{categoryHumanResourceJSON.content}}>

{% for setting in settingsRepository %}
	<input type="hidden" name="modifAlertTime" id="modifAlertTime" value='{{setting.getAlertmodificationtimer}}'>
{% endfor %}

<div class="all-container" style="display: flex; flex-direction: row;">
<div style="width:100%;">

	<h1>Modification du Planning</h1>
		  
	<div id="calendar-container" class="calendar-container">
	<table class="header-ressource-consultation" style="font-size:medium;">
		<td class="header-td">
			<!-- bouton d'ajout d'un rendez-vous dans le planning -->
			<button type="button" class="btn-calendar-edit" onclick="displayAddPathway()">Ajouter</button>

			<!-- filtre de l'affichage par catégorie -->
			<select class="btn-calendar-edit" id="displayList" onchange="changePlanning()">
				<option value="0" selected disabled>Changer l'affichage
				</option>
				<option value="rh">Ressources Humaines</option>
				<option value="rm">Ressources Matérielles</option>
			</select>
			<button id="displayCategory" onclick="categoryShow()" class="btn-calendar-edit" title="Afficher Catégories"><label id='labelDisplayCategory'>Cacher Catégories</label></button>
			<!-- bouton pour filtrer l'affichage (pas encore opérationnel) -->
			<button id="filterbutton" onclick="filterShow()" class="btn-calendar-edit" title="Filtrer l'affichage">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewbox="0 0 24 24" width="24px">
					<g><path d="M0,0h24 M24,24H0" fill="none"/><path d="M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6c0,0,3.72-4.8,5.74-7.39 C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"/><path d="M0,0h24v24H0V0z" fill="none"/></g>
				</svg>
			</button>
			</td>
			<div id="filterId" class="filter-container" style="display:none"></div>
		</div>
		
		<!-- liste des boutons pour annuler ou valider les modifications -->


		<td class="header-td-right">
			<div id='top-right-buttons'>
				<input type="button" id='button-top-right' class="btn-calendar-edit" onclick="undoEvent()" data-toggle="tooltip" data-placement="auto" title="Ctrl + Z" value ="Retour en Arrière"></input>
				{% if app.user %}
					{% set userIdentifier = app.user.getUserIdentifier() %}
					<input type="hidden" id='user-id' name="user-id" value="{{ app.user.getId() }}"/>
				{% else %}
					{% set userIdentifier = '' %}
				{% endif %}
				<form method="post" id="update-database-form" action="{{ path('ModificationPlanningValidation', { username: userIdentifier }) }}">
					<button type="submit" class="btn-edit btn-secondary" data-toggle="tooltip" data-placement="auto" title="Ctrl + Alt + S" onclick="updateDatabase({% if app.user %}{{app.user.getId()}}{% else %}1{% endif %})">Enregistrer</button>
					<input type="hidden" id='events' name="events"/>
					<input type="hidden" id='validation-date' name="validation-date"/>
					<input type="hidden" id='list-resource' name="list-resource"/>
					<input type="hidden" id='scheduled-appointments' name="scheduled-appointments"/>
				</form>
				<button type="button" id="button-top-right" class="btn-delete btn-secondary" onclick="backToConsultation()">Quitter</button>
			</div>
	
		</div>
		
	</td>
	</table>

		<table class="header-ressource-consultation" style="margin-left:10px;">
			<td id="header-type" class="header-td-left">Ressources Humaines</td>
		<td class="header-td-center">{{ dateFormatted }}</td>
		<td id="zoom-div" class="header-td-right header-td-zoom">
			<input id="zoom-value" type="hidden" value="00:20:00">
			<button id="zoom-minus" class="btn-calendar-edit" onclick="zoomChange('minus')" title="Dézoomer">Zoom -</button>
			<button id="zoom-default" class="btn-calendar-edit" onclick="zoomChange('default')" title="Zoom par défaut">Défaut</button>
			<button id="zoom-plus" class="btn-calendar-edit" onclick="zoomChange('plus')" title="Zoomer">Zoom +</button>
			</td>
		</table>
		
		

		<!-- affichage du calendar -->
		<div id='calendar'></div>
	</div>
	</div>

	<div id="lateral-panel">
		<input id="lateral-panel-input" type="checkbox" onclick="displayPanelErrorMessages()">
		<label id="lateral-panel-label" for="lateral-panel-input"><div id="text-lateral-panel-label"> Erreurs</div></label>
		<div id="lateral-panel-bloc">
			<div style='text-align:center; font-weight: bold;font-size: 2.3em;'>
				Liste des erreurs de planification
			</div>
		</div>
	</div>
</div>


<script>alertOnload();</script>
{% endblock %}
