{% extends 'base.html.twig' %}

{% block title %}Modification du Planning
{% endblock %}

{% block stylesheets %}

	<!-- insertion de bootstrap, jquery et fullcalendar-scheduler -->
	<link href='js/fullcalendar-scheduler/lib/main.css' rel='stylesheet'/>
	<script src='js/fullcalendar-scheduler/lib/main.js'></script>
	<script src="js/jquery-3.6.0.js"></script>
  <script src="js/popper.min.js"></script>  
	<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>

	<!-- insertion des fichier js et css spécifique à modification planning -->
	<script src="js/planning/modification-planning.js"></script>
	<link rel="stylesheet" href="{{ asset('CSS/Calendrier/Calendrier.css') }}">

{% endblock %}

{% block body %}

	{{include('planning/modal_popup.html.twig')}}

	<!-- modify-planning-modal -->

	<div class="modal" id="modify-planning-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Modifier
						<span id="show-title"></span>
					</h2>
				</div>
				<div
					class="modal-body">
					<!-- création d'input caché permettant de transmettre des informations entre le php, le twig et le js -->
					<input name="form" type="hidden" value="modify">
					<input id="id" name="id" type="hidden">
					<input id="length" name="length" type="hidden">
					<input
					id="title" name="title" type="hidden">

					<!-- initialise l'heure de début de l'activité prévu et permet de la modifier -->
					<label>Heure de début de l'activité :
					</label>
					<div class="input-container onWhite">
						<input class="input-field" type="time-local" id="new-start" name="new-start" required>
					</div>

					<div
						class="modal-footer">
						<!-- bouton de suppression à revoir, permet pour le moment d'être redirigé vers la gestion des rendez-vous pour en supprimer un -->
						<form method="get" action="{{ path('Appointment') }}">
							<button class="btn-delete btn-secondary" onclick="return confirm('Voulez-vous être redirigé vers la gestion des rendez-vous ? Vos modifications vont être perdues');">Supprimer le rendez-vous</button>
						</form>

						<!-- bouton permettant de fermer la modal ou de valider les modification -->
						<button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn-valide btn-secondary" onclick="modifyEvent()">Valider</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- add-planning-modal -->

	<div
		class="modal" id="add-planning-modal">
		<!-- div qui représente la modal -->
		<div
			class="modal-dialog">
			<!-- permet d'afficher la modal en mode dialog -->
			<div
				class="modal-content">
				<!-- permet de structurer le contenu de la modal -->
				<div
					class="modal-header">
					<!-- sépare le header de la modal -->
					<h2 class="modal-title">Ajouter un rendez-vous</h2>
				</div>
				<div
					class="modal-body">
					<!-- sépare le body de la modal -->
					<input id="date" name="date" type="hidden" value={{datetoday}}>
					<input id="listeAppointments" name="listeAppointments" type='hidden' value={{listAppointmentsJSON.content}}>
					<input id="listeSuccessors" name="listeSuccessors" type='hidden' value={{listeSuccessorsJSON.content}}>
					<input id="listeActivities" name="listeActivities" type='hidden' value={{listeActivitiesJSON.content}}>

					<div
						id="select-container-patient">
						<!-- Selection du rendez-vous -->
						<label>Choisissez le rendez-vous</label>
						<select id="select-appointment" name="select-appointment" required>
						</select>
					</div>

					<div
						id="select-container-date" class="input-container onWhite">
						<!-- Selection de l'heure de début du rdv -->
						<label>Heure de début du parcours :
						</label>
						<input class="input-field" type="time" id="timeBegin" name="timeBegin" required>
					</div>

					<div
						id="time-selected-error" class="alert alert-danger" role="alert">
						<!-- Affichage du message d'erreur si l'utilisateur ne rentre pas une heure correcte par rapport à la table appointment -->
						Veuillez renseigner une heure de début de parcours correcte pour ce rendez-vous.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn-valide btn-secondary" onclick="AddEventValider()">Valider</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<input type="hidden" id="date" value="<?php echo $$_GET['date']; ?>"/>
<input type="hidden" id="material" value='{{listMaterialResourceJSON.content}}'/>
<input type="hidden" id="human" value='{{listHumanResourceJSON.content}}'/>
<input type='hidden' id="listeAppointments" name="listeAppointments" value='{{listAppointmentsJSON.content}}'>
<input type="hidden" id="listScheduledActivitiesJSON" value='{{listScheduledActivitiesJSON.content}}'/>

<div
	class="modal" id="add-planning-modal">
	<!-- div qui représente la modal -->
	<div
		class="modal-dialog">
		<!-- permet d'afficher la modal en mode dialog -->
		<div
			class="modal-content">
			<!-- permet de structurer le contenu de la modal -->
			<div
				class="modal-header">
				<!-- sépare le header de la modal -->
				<h2 class="modal-title">Ajouter un rendez-vous</h2>
			</div>
			<div
				class="modal-body">
				<!-- sépare le body de la modal -->
				<input id="date" name="date" type="hidden" value={{datetoday}}>
				<input id="listeAppointments" name="listeAppointments" type='hidden' value={{listAppointmentsJSON.content}}>
				<input id="listeSuccessors" name="listeSuccessors" type='hidden' value={{listeSuccessorsJSON.content}}>
				<input id="listeActivities" name="listeActivities" type='hidden' value={{listeActivitiesJSON.content}}>
				<input id="listeActivityHumanResource" name="listeActivityHumanResource" type="hidden" value={{listeActivityHumanResourcesJSON.content}}>
				<input
				id="listeActivityMaterialResource" name="listeActivityMaterialResource" type='hidden' value={{listeActivityMaterialResourcesJSON.content}}>
			<!-- affichage du haut de la page -->
			</div>
		</div>
	</div>
</div>

<div class="all-container">
	<h1>Modification du Planning</h1>
	<div id="container-top">
		<div
			class="CRUD-div">
			<!-- bouton d'ajout d'un rendez-vous dans le planning -->
			<button type="button" class="btn-consult btn-secondary" onclick="addEvent()">Ajouter</button>

			<!-- filtre de l'affichage par catégorie -->
			<select class="list-edit" id="displayList" onchange="changePlanning()">
				<option value="0" selected disabled>Changer l'affichage
				</option>
				<option value="rh">Ressources Humaines</option>
				<option value="rm">Ressources Matérielles</option>
			</select>

			<!-- bouton pour filtrer l'affichage (pas encore opérationnel) -->
			<button id="filterbutton" onclick="filterShow()" class="btn-calendar-edit" title="Filtrer l'affichage">
				<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewbox="0 0 24 24" width="24px">
					<g><path d="M0,0h24 M24,24H0" fill="none"/><path d="M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6c0,0,3.72-4.8,5.74-7.39 C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"/><path d="M0,0h24v24H0V0z" fill="none"/></g>
				</svg>
			</button>
			<div id="filterId" class="filter-container" style="display:none"></div>
		</div>
		<!-- liste des boutons pour annuler ou valider les modifications -->
		<div id='container-top-right'>
			<button type="button" class="btn-delete btn-secondary" onclick="window.location.assign('/ModificationDeleteOnUnload?dateModified=' + $_GET('date'))">Annuler</button>
			<form method="post" action="{{ path('ModificationPlanningValidation') }}">
				<button type="submit" class="btn-edit btn-secondary" onclick="setEvents()">Valider</button>
				<input type="hidden" id='events' name="events"/>
				<input type="hidden" id='validation-date' name="validation-date"/>
				<input type="hidden" id='list-resource' name="list-resource"/>
			</form>
		</div>
	</div>
	<div
		id="calendar-container" class="calendar-container">

		<!-- affichage du calendar -->
		<div id='calendar'></div>
	</div>
</div>{% endblock %}
