{% extends 'base.html.twig' %}

{% block title %}Modification du Planning{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Calendrier/Calendrier.css') }}">
        
        {% endblock %}
{% block body %}
    <link href='js/fullcalendar-scheduler/lib/main.css' rel='stylesheet' />
    <script src='js/fullcalendar-scheduler/lib/main.js'></script>
    <script src="js/planning/modification-planning.js"></script>
    <script src="js/bootstrap/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- modify-planning-modal -->

<div class="modal fade" id="modify-planning-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier l'activité</h5>
      </div>
        <form method="post" action="/ModificationPlanning">
            <div class="modal-body">
                <label>Nom de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Titre de l'activité" id="new-title" name="new-title" required>
                </div>
                <div id='modalTitle'></div>

                <label>Date de début de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Date de début de l'activité" id="new-start" name="new-start" required>
                </div>

                <label>Durée de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Durée de l'activité" id="new-time" name="new-time" required>
                    <label>minutes</label>
                </div>
                
                {% for type in resourcestypes %}
                  Nom de la resource : {{type.name}} et nom de la categorie : {{type.category}}
                {% endfor %}

                <div class="modal-footer">
                    <button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn-valide btn-secondary" onclick="modifyEvent()">Valider</button>
                </div>
            </div>
	    </form>
    </div>
  </div>
</div>

<!-- add-planning-modal -->

<div class="modal fade" id="add-planning-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une activité</h5>
      </div>
        <form method="post" action="/ModificationPlanning">
            <div class="modal-body">
                <label>Nom de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Titre de l'activité" id="title" name="title" required>
                </div>
                <div id='modalTitle'></div>

                <label>Date de début de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Date de début de l'activité" id="start" name="start" required>
                </div>

                <label>Durée de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Durée de l'activité" id="time" name="time" required>
                    <label>minutes</label>
                </div>
                
                {% for type in resourcestypes %}
                  Nom de la resource : {{type.name}} et nom de la categorie : {{type.category}}
                {% endfor %}

                <div class="modal-footer">
                    <button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn-valide btn-secondary" onclick="modifyEvent()">Valider</button>
                </div>
            </div>
	    </form>
    </div>
  </div>
</div>

    <input type=hidden id="date" value="<?php eco $$_GET['date']; ?>"/>
    
  <div class="container"><h1>Modification du Planning</h1>
    <div class="container">
      <button type="button" class="btn-add" onclick="addEvent()">Ajouter</button>
      <button type="button" class="btn-consult btn-secondary" onclick="window.location.href='{{ path('ConsultationPlanning') }}'">Annuler</button>
      <button type="button" class="btn-valide btn-secondary" onclick="window.location.href='{{ path('ConsultationPlanning') }}'">Valider</button>
    </div>
    <div id = 'calendar'>
    </div>
</div>

{% endblock %}
