{% extends 'base.html.twig' %}

{% block title %}Modification du Planning{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Calendrier/Calendrier.css') }}">
        
        {% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.0/main.js"></script>
    <script src="js/planning/modification-planning.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- modify-planning-modal -->

<div class="modal fade" id="modify-planning-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier l'activité</h5>
      </div>
        <form method="post" action="/ModificationPlanning">
            <div class="modal-body">
                <label>Nom de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Titre de l'activité" id="new-title" name="new-title" required>
                </div>
                <div id='modalTitle'></div>

                <label>Date de début de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Date de début de l'activité" id="new-start" name="new-start" required>
                </div>

                <label>Durée de l'activité : </label>
                <div class="input-container onWhite">
                    <input class="input-field" type="text" placeholder="Durée de l'activité en minutes" id="new-time" name="new-time" required>
                    <label>minutes</label>
                </div>
                
                {% for type in resourcestypes %}
                  Nom de la resource : {{type.name}} et nom de la categorie : {{type.category}}
                {% endfor %}

                <div class="modal-footer">
                    <button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn-valide btn-secondary" onclick="modifyEvent()">Valider</button>
                </div>
            </div>
	    </form>
    </div>
  </div>
</div>

    <input type=hidden id="date" value=<?php eco $$_GET['date']; ?>/>
    
  <div class="container"><h1>Modification du Planning</h1>
      <button type="button" class="btn-consult btn-secondary" onclick="window.location.href='{{ path('ConsultationPlanning') }}'">Annuler</button>
      <button type="submit" class="btn-valide btn-secondary" onclick="window.location.href='{{ path('ConsultationPlanning') }}'">Valider</button>

    <div id = 'calendar'>
    </div>
</div>

{% endblock %}