{% extends 'base.html.twig' %}

{% block title %}Listing des ressources{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/Resource/Resource.js') }}"> </script>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
{% endblock %}


{% block body %}
    <div class="index">

    <h1>Liste des ressources</h1>
    <button class ="btn-add" onclick="showNewModalForm()">Ajouter une nouvelle ressource</button>
    <br>
    <table class="table table-striped table-index-users">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>{{ resource.id }}</td>
                <td>{{ resource.resourcename }}</td>
                <td>{{ resource.resourcetype }}
                <td>
                    <button class = "btn-infos btn-secondary" onclick="showNewModalFormInfos('{{resource.id}}', '{{resource.resourcename}}', '{{resource.resourcetype}}')">Infos</a>
                    <button class = "btn-edit btn-secondary" onclick="window.location.href='{{ path('app_resource_edit', {'id': resource.id}) }}'">Éditer</a>
                    {{ include('resource/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de ressources créées !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{{ include ('resource/show.html') }}
{% endblock %}
