{% extends 'base.html.twig' %}
{% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('CSS/Global/ShowCrud.css') }}">
        {% endblock %}
{% block title %}Informations d'une ressuorce{% endblock %}

{% block body %}
<div id ="show-user">
    <h1>Informations de la ressource {{ resource.name }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resource.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ resource.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ resource.ResourceType }}</td>
            </tr>
        </tbody>
    </table>

    <button class = "btn-consult btn-secondary" onclick="window.location.href='{{ path('app_resource_index') }}'">Consulter les ressources</a>

    <button class = "btn-edit btn-secondary" onclick="window.location.href='{{ path('app_resource_edit', {'id': resource.id}) }}'">Éditer</a>

    {{ include('resource/_delete_form.html.twig') }}
    </div>
{% endblock %}
