{% if  app.user == null %} 
{% endif %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/img/hospital_icon.svg">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="CSS/bootstrap/bootstrap.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}             
        <link rel="stylesheet" href="{{ asset('CSS/Global/Menu.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/Main.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('Menu') }}

             <!-- Include the compiled script-->
             <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
             <script type="text/javascript" src="{{ asset('build/JS/app.js') }}"></script>
             <script type="text/javascript" src="{{ asset('build/JS/Menu.js') }}"></script>

        {% endblock %}

    </head>

    <body>
        {% include 'Global/Menu.html.twig' %}
        {% block body %}{% endblock %}
        {% if  app.user != null %} 
        <div id="informations">ID : {{ app.user.userIdentifier }}<br>
        Rôle : {{ app.user.roles[0] }}
        </div>
        {% endif %}

    </body>
</html>

