{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('js/fullcalendar-scheduler/lib/main.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/Calendrier/Calendrier.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/menu.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/ContextMenu.css') }}">

{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <div id="calendrier"></div>
    </div>


{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/calendrier.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar-scheduler/lib/main.js') }}"></script>
    
{% endblock %}