{% extends 'base.html.twig' %}

{% block title %}Liste des types de circuit{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
        {% endblock %}
{% block body %}
    <div id = "index-users">
    <h1 id="title">Liste des types de circuit</h1>
    <button class ="btn-add" onclick="window.location.href='{{ path('app_circuit_type_new') }}'">Ajouter un nouveau type de circuit</button>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit_type in circuit_types %}
            <tr>
                <td>{{ circuit_type.id }}</td>
                <td>{{ circuit_type.name }}</td>
                <td>
                    <button class = "btn-infos btn-secondary" onclick="window.location.href='{{ path('app_circuit_type_show', {'id': circuit_type.id}) }}'">Infos</a>
                    <button class = "btn-edit btn-secondary" onclick="window.location.href='{{ path('app_circuit_type_edit', {'id': circuit_type.id}) }}'">Éditer</a>
                    {{ include('circuit_type/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de types de circuit créés !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
