{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/Global/IndexCrud.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/User/EditUser.css') }}">
	<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
	<script src="js/User/user.js"></script>
	<script src="js/jquery-ui/external/jquery/jquery.js"></script>
	<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
	<script src="js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="js/jquery-ui/jquery-ui.js"></script>    
{% endblock %}
{% block body %}
	<div class="index" id="index-users">
		<h1>Liste des utilisateurs</h1>
		<button class="btn-add" onclick="addUser()">Ajouter un nouvel utilisateur</button>
		<table class="table table-striped table-index-users" id="tableUser">
			<thead>
				<tr class="headerUser">
					<th>Id</th>
					<th><input type="text" id="autocompleteInputUserNname" onkeyup="filterUser('autocompleteInputUserNname')" placeholder="Nom d'utilisateur"></th>
					<th>
					<button id="filterbutton" onclick="filterShow()" class="btn-calendar-edit" title="Selection des rôles à afficher">
				Rôles
				
			</button>
			<div id="filterId" class="filter-container" style="display:none">
			<fieldset onchange='filterRole()'>
       <div>
      <input type="checkbox" id="admin" checked>
      <label for="admin">Admin</label>
    </div>

    <div>
      <input type="checkbox" id="editeur" checked>
      <label for="editeur">Editeur</label>
    </div>

	<div>
      <input type="checkbox" id="visiteur" checked>
      <label for="visiteur">Visiteur</label>
    </div>
</fieldset>
			
			
			</div>
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						{% if user.roles[1] is defined %}
							{% set role = user.roles[1] %}
							<td>{{role | replace({'"':''})}}</td>
							<!-- show Admin instead of "Admin" -->
						{% else %}
							<td></td>
						{% endif %}
						<td>
							<button type="button" id="buttonEdit{{user.username }}" class="btn-edit btn-secondary" onclick="editUser('{{ user.id }}', '{{ user.username }}' )">Éditer
							</a>
							<form method="post" action="{{ path('UserDelete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ?');">
								<input type="hidden" name="user" value="{{ user.id }}">
								<button id='buttonErase{{user.username }}' class="btn-delete btn-secondary">Supprimer</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Pas d'utilisateurs créés !</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ include ('user/edit_user.html.twig') }}
		{{ include ('user/new_user.html.twig') }}
		<script>
			$("#autocompleteInputUserNname").autocomplete({
				source: autocompleteArray,
				select: function (event, ui) {
				filterUser('autocompleteInputUserNname', ui.item.value);
				}
			});
		</script>

	{% endblock %}
