{% extends 'base.html.twig' %}
{% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('CSS/Global/ShowCrud.css') }}">
        {% endblock %}
{% block title %}Informations d'une utilisateur{% endblock %}

{% block body %}
<div id ="show-user">
    <h1>Informations de l'utilisateur {{ user.id }}</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <button class = "btn-consult btn-secondary" onclick="window.location.href='{{ path('app_user_index') }}'">Consulter les utilisateurs</a>

    <button class = "btn-edit btn-secondary" onclick="window.location.href='{{ path('app_user_edit', {'id': user.id}) }}'">Éditer</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
