{% extends 'base.html.twig' %}
{% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('CSS/User/ShowUser.css') }}">
        {% endblock %}
{% block title %}User{% endblock %}

{% block body %}
<div id ="show-user">
    <h1>Informations de l'utilisateur {{ user.id }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <button class = "btn-consult-users btn-secondary" onclick="window.location.href='{{ path('app_user_index') }}'">Consulter les utilisateurs</a>

    <button class = "btn-edit-user btn-secondary" onclick="window.location.href='{{ path('app_user_edit', {'id': user.id}) }}'">Éditer</a>

    {{ include('user/_delete_form.html.twig') }}
</div>

{% endblock %}
